<h1>Baixar arquivo</h1>
<a href="/downloads/json.csv">Clique aqui</a>

<div class="col-6">
    <label class="form-label" for="textarearesultado">Resultado: </label>
    <textarea id="txtresultado" name="txtresultado" rows="3" class="form-control" placeholder="@ViewBag.Retorno"></textarea>
</div>